{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
  
    <div id="wybor" class="container justify-content-center">
            {% if user.is_authenticated %}
            <hr>
                <h3>Admin manager</h3>
                
            <hr>
            <div class="d-flex flex-column">
                <a>Set year:</a>
                <div class="d-flex justify-content-start" id="am_blok1">
                    <form id="form_years">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-center">
                         
                        <div class="form-group">
                           
                            <select class="form-control" id="am_select_choices">
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                            </select>
                           
                          </div>
                           <input type="submit" value="Save" class="btn btn-danger">
                        </div>
                    </form>

                </div>
                <hr>
                <a>Add holiday(YYYY-MM-DD):</a>
                <div class="d-flex justify-content-start" id="am_blok1a">
                
                    <form id="form_holidays">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-center">
                         
                        <div class="form-group">
                           
                            <input class='form-control' type='text' value='' id='txt_holiday' ></input>
                           
                          </div>
                           <input type="submit" value="Save" class="btn btn-danger">
                        </div>
                    </form>


                </div>

                <div id="am_blok1b" class="d-flex flex-wrap">


                </div>


                <hr>
                <a><strong>Set permissions</strong></a>
                <div id="am_blok2">
                    <div class="form-group">
                        <a>Choose page:</a>   
                        <select class="form-control" id="am_select_pages">
                        
                         
                        </select>
                </div>
                <hr>
                <div id="am_blok3">
                </div>

            </div>


            {% endif %}
        
    </div>

    
    
   
{% endblock %}

{% block script %}
<script src="{% static 'capstone/adminmanager.js' %}"></script>
    
{% endblock %}