{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
  
    <div id="wybor" class="container justify-content-center">
            {% if user.is_authenticated %}
            <hr>
                <h3>Choose module:</h3>
               
           

            <form action="{% url 'module' %}" method="GET" name="modules_form">
                {% csrf_token %}
                <div class="container">
                    <button type="submit" class="btn btn-primary btn-lg" name="leavePlannerBtn">Leave planner</button>
                    <button type="submit" class="btn btn-secondary btn-lg" name="leaveManagerBtn">Leave manager</button>
                    <button type="submit" class="btn btn-primary btn-lg" name="settingsBtn">Settings</button>
                </div>    
            </form> 
                    {% if error_message|length > 0  %}    
                    <p style="color: red;">{{ error_message }}</p>
                
                    {% endif %}   
            <hr>
            {% endif %}
        
    </div>

    
    
   
{% endblock %}

{% block script %}
    <script src="{% static 'capstone/javascript.js' %}"></script>
{% endblock %}